* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body { 
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .header {
    background-color: #f0efe8;
    padding: 30px 20px;
    width: 100%;

  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .header-content img {
    width: 200px;
    height: auto;
  }
  
  .header-content .text h1 {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .header-content .text p {
    font-size: 18px;
    color: #555;
  }
  
  .images {
    max-width: 990px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .planta {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .planta img {
    width: 200px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  footer {
    background-color: #b36528;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
  }
